body{
    color:#fff;
    font-family: 'Nunito Semibold';
    text-align:center;
    overflow: auto;
}
#encabezado{
    height: 50px;

}
.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(600px,auto);
    grid-template-areas: 'encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado'
    'dibujo dibujo dibujo dibujo dibujo dibujo dibujo dibujo'
    'dibujo dibujo dibujo dibujo dibujo dibujo dibujo dibujo'
    'chat chat chat chat  chat chat usuarios usuarios '
    'input input input input input input input input'
    'pie pie pie pie pie pie pie pie'
    ;
    grid-gap:10px;
    max-width: 100%;
    margin: 0 auto;
}


.contenedor > *{
    
     padding: 30px;
    /* margin: 20px;*/
}
#encabezado{
    /*grid-column: 1/13;*/
    height:50px;
    grid-area: encabezado;
}
#dibujo{
     /*grid-column: 1/13;
    grid-row:2/4;*/
    padding: 0;
    grid-area: dibujo;
}
#chat{
    /* grid-column: 1/9;*/
    padding: 0;
    grid-area: chat;
    height: 130px;
    overflow: auto;
 }
 #usuarios{
    grid-area: usuarios; 
    position: relative;
   
    padding: 0;
    height: 130px;
    overflow: auto;
    
}
 td{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
 }

#input{
    /*grid-column: 9/13;*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-area: input;
    height: 101px;
    padding: 0%;
}

#Itexto{
    grid-column: span 4;
}
#Ibotton{
    grid-column: span 1;
}
#input > *{
    margin: 0px 0px 0px 0px;
}
#pie{
    /*grid-column: 1/13;*/
    
    grid-area: pie;
}


tr{
    background-color:#757575;
    color: white;
}
th{
    background-color:gold;
}
tr:nth-child(2n+0) {
    background: #E0E0E0;
    color: black;
}
td:nth-child(2n+0){
    width: 20%;
}
.primario{
    background-color: #00695C;
}
.primarioClaro{
    background-color: #26A69A;
}
.secundario{
    background-color: #F57C00;
}
.secundarioClaro{
    background-color: #FFA726;
}
ul{list-style-type: none;
text-align: left;
padding-left: 10px;
}
#Contenedorentrar{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#entrar{
    background: red;
    font-size: 25px;
    margin-top: 2%;
}
#ingresarUsuario{
    width: 95%;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:1500px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-auto-rows: minmax(100px,auto);
        grid-auto-columns: minmax(600px,auto);
        grid-template-areas: 'encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado'
        'dibujo dibujo chat chat chat chat usuarios usuarios'
        'dibujo dibujo chat chat chat chat usuarios usuarios'
        'dibujo dibujo input input input input usuarios usuarios'
        'pie pie pie pie pie pie pie pie'
        ;
        grid-gap:10px;
        max-width: 90%;
        margin: 0 auto;
    }
    #chat{
       /* grid-column: 1/9;*/
       padding: 0;
       grid-area: chat;
       height: 400px;
       overflow: auto;
    
    }
    #usuarios{
        grid-area: usuarios; 
        height: initial;
        height: 600px;
        overflow: auto;
        
    }
    #input{
        /*grid-column: 9/13;*/
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-area: input;
        height: 200px;
        padding: 0%;
    }
    #input > *{
        margin: 60px 0px 60px 0px;
    }
    #ingresarUsuario{
        width: 95%;
        margin: 0;
        padding: 0;
    }
    ul{list-style-type: none;
        text-align: center;
        
        }
}
